<?xml version="1.0"?>
<launch>

    <arg name="mapping" default="false"/>
    <arg name="localization" default="false"/>
    <arg name="navigation" default="false"/>

    <arg name="map_file" default="$(find test_tiago_simulation_bringup)/maps/pal_office.yaml"/>

    <arg name="x_pose" default="0"/>
    <arg name="y_pose" default="0"/>

    <arg name="gzpose" default="-x $(arg x_pose) -y $(arg y_pose)"/>

    <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
        <arg name="public_sim" default="true"/>
        <arg name="end_effector" default="pal-gripper"/>
        <arg name="world" default="pal_office"/>
        <arg name="gzpose" default="$(arg gzpose)"/>
    </include>

    <!-- ! MAPPING -->

    <group if="$(arg mapping)">
        <arg name="unified_laser_scan" default="false" />

        <!-- dynamic map generation from unified scan -->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
            <remap from="scan" to="/scan_raw" unless="$(arg unified_laser_scan)" />
            <remap from="scan" to="scan_unified" if="$(arg unified_laser_scan)" />
            <param name="maxUrange" type="int" value="8" />
            <param name="xmin" type="int" value="-8" />
            <param name="ymin" type="int" value="-8" />
            <param name="xmax" type="int" value="8" />
            <param name="ymax" type="int" value="8" />
            <param name="odom_frame" type="string" value="odom" />
        </node>
    </group>

    <!-- ! LOCALIZATION -->

    <group unless="$(arg mapping)">
        <group if="$(arg localization)">

            <!-- Map server -->
            <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

            <!-- start amcl -->
            <node pkg="amcl" type="amcl" name="amcl">
                <remap from="scan" to="/scan_raw" />
                <param name="odom_model_type" value="omni" />
                <param name="transform_tolerance" value="0.2" />
                <param name="gui_publish_rate" value="-1.0" />
                <param name="laser_max_beams" value="180" />
                <param name="laser_max_range" value="10" />
                <param name="min_particles" value="100" />
                <param name="max_particles" value="5000" />
                <!--param name="update_min_a" value="1.0"/-->
                <param name="kld_err" value="0.01" />
                <param name="kld_z" value="0.99" />
                <param name="odom_alpha1" value="0.1" />
                <param name="odom_alpha2" value="0.1" />
                <!-- translation std dev, m -->
                <param name="odom_alpha3" value="0.1" />
                <param name="odom_alpha4" value="0.1" />
                <param name="odom_alpha5" value="0.1" />
                <param name="laser_z_hit" value="0.95" />
                <param name="laser_z_short" value="0.1" />
                <param name="laser_z_max" value="0.05" />
                <param name="laser_z_rand" value="0.05" />
                <param name="laser_sigma_hit" value="0.2" />
                <param name="laser_lambda_short" value="0.1" />
                <param name="laser_model_type" value="likelihood_field" />
                <!-- <param name="laser_model_type" value="beam"/> -->
                <param name="laser_likelihood_max_dist" value="2.0" />
                <param name="update_min_d" value="0.2" />
                <param name="update_min_a" value="0.2" />
                <param name="odom_frame_id" value="odom" />
                <param name="base_frame_id" value="base_footprint" />
                <param name="global_frame_id" value="map" />
                <param name="resample_interval" value="2" />
                <param name="transform_tolerance" value="0.1" />
                <param name="recovery_alpha_slow" value="0.0" />
                <param name="recovery_alpha_fast" value="0.0" />
            </node>
        </group>
    </group>

    <!-- ! NAVIGATION -->

    <group unless="$(arg mapping)">
        <group if="$(arg localization)">
            <group if="$(arg navigation)">

                <arg name="pkg_nav_config" default="$(find test_tiago_simulation_bringup)" />

                <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
                    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
                    <rosparam file="$(arg pkg_nav_config)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
                    <rosparam file="$(arg pkg_nav_config)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
                    <rosparam file="$(arg pkg_nav_config)/config/local_costmap_params.yaml" command="load" />
                    <rosparam file="$(arg pkg_nav_config)/config/global_costmap_params.yaml" command="load" />
                    <rosparam file="$(arg pkg_nav_config)/config/move_base_params.yaml" command="load" />
                    <rosparam file="$(arg pkg_nav_config)/config/dwa_local_planner_params.yaml" command="load" />
                    <remap from="cmd_vel" to="/mobile_base_controller/cmd_vel"/>
                    <remap from="odom" to="/mobile_base_controller/odom"/>
                </node>



            </group>
        </group>
    </group>

</launch>