<launch>
    <!-- RVIZ -->
    <arg name="rviz" default="true"/>
    <!-- Parameters allowed -->
    <arg name="mapping" default="false" />
    <arg name="localization" default="true" />
    <arg name="navigation" default="true" />

    <!-- Localization specific options -->
    <arg name="map_file" default="$(find test_stretch2_hardware_bringup)/maps/map.yaml"/>

    <!-- Mapping -->
    <group if="$(arg mapping)">
        <node pkg="gmapping" type="slam_gmapping" name="gmapping_record_map" output="screen">
            <param name="map_update_interval" value="1.0"/>
        </node>

        <!-- Option of rviz for Mapping -->
        <node name="rviz_mapping" pkg="rviz" type="rviz" output="log" args="-d $(find test_stretch2_simulation_bringup)/rviz/mapping.rviz" if="$(arg rviz)" />
    </group>

    <!-- Localization is only possible when Mapping is set to false -->
    <group unless="$(arg mapping)">
        <group if="$(arg localization)">
            <!-- Map server -->
            <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

            <!-- start amcl -->
            <node pkg="amcl" type="amcl" name="amcl" output="screen">
                <!-- Publish scans from best pose at a max of 10 Hz -->
                <param name="odom_model_type" value="diff"/>
                <param name="odom_alpha5" value="0.1"/>
                <param name="gui_publish_rate" value="10.0"/>
                <param name="laser_max_beams" value="30"/>
                <param name="min_particles" value="500"/>
                <param name="max_particles" value="5000"/>
                <param name="kld_err" value="0.05"/>
                <param name="kld_z" value="0.99"/>
                <param name="odom_alpha1" value="0.2"/>
                <param name="odom_alpha2" value="0.2"/>
                <!-- translation std dev, m -->
                <param name="odom_alpha3" value="0.8"/>
                <param name="odom_alpha4" value="0.2"/>
                <param name="laser_z_hit" value="0.5"/>
                <param name="laser_z_short" value="0.05"/>
                <param name="laser_z_max" value="0.05"/>
                <param name="laser_z_rand" value="0.5"/>
                <param name="laser_sigma_hit" value="0.2"/>
                <param name="laser_lambda_short" value="0.1"/>
                <param name="laser_model_type" value="likelihood_field"/>
                <!-- <param name="laser_model_type" value="beam"/> -->
                <param name="laser_likelihood_max_dist" value="2.0"/>
                <param name="update_min_d" value="0.2"/>
                <param name="update_min_a" value="0.5"/>
                <param name="odom_frame_id" value="odom"/>
                <param name="resample_interval" value="1"/>
                <param name="transform_tolerance" value="0.1"/>
                <param name="recovery_alpha_slow" value="0.0"/>
                <param name="recovery_alpha_fast" value="0.0"/>
            </node>

            <group if="$(arg navigation)">
                <node name="centered_base_link_tf_publisher" pkg="tf" type="static_transform_publisher" args="-0.1 0 0 0 0 0 1 /base_link /centered_base_link 100" />

                <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
                    <rosparam file="$(find stretch_navigation)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
                    <rosparam file="$(find stretch_navigation)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
                    <rosparam file="$(find stretch_navigation)/config/local_costmap_params.yaml" command="load" />
                    <rosparam file="$(find stretch_navigation)/config/global_costmap_params_withmap.yaml" command="load" />
                    <rosparam file="$(find stretch_navigation)/config/base_local_planner_params.yaml" command="load" />
                    <remap from="/cmd_vel" to="/stretch/cmd_vel" />
                </node>
            </group>

            <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find test_stretch2_hardware_bringup)/rviz/demo.rviz" if="$(arg rviz)" />
        </group>
    </group>
</launch>