<?xml version="1.0"?>
<launch>
    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find pepper_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true" />
        <arg name="debug" value="$(arg debug)" />
    </include>
</launch>
